#FPGA_GCLK
NET "CLK" LOC = "N8" | IOSTANDARD = LVCMOS33;

#CLK_LFC
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;
NET "Ytrigger" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Xtrigger" CLOCK_DEDICATED_ROUTE = FALSE;
#BTNs
NET "Ytrigger" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "Xtrigger" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
NET "TurnLED(0)" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "TurnLED(1)" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "HMLED(0)" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "HMLED(1)" LOC = "P4" | IOSTANDARD = LVCMOS33;

#DEPP Signals
#NET "DEPP_WAIT" LOC = "B6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
#NET "DEPP_WRITE" LOC = "A7" | IOSTANDARD = LVCMOS33;
#NET "DBUS<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
#NET "DBUS<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs

#A
#NET "PORTA<0>" LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "EndTurn" LOC = "N5" | IOSTANDARD = LVCMOS33;
NET "ardin" LOC = "N6" | IOSTANDARD = LVCMOS33; 
NET "HMEnable" LOC = "P7" | IOSTANDARD = LVCMOS33; 
NET "HM" LOC = "P12" | IOSTANDARD = LVCMOS33; 
NET "X(0)" LOC = "N12" | IOSTANDARD = LVCMOS33; 
NET "X(1)" LOC = "L14" | IOSTANDARD = LVCMOS33; 
NET "Y(0)" LOC = "L13" | IOSTANDARD = LVCMOS33; 

#B
NET "Y(1)" LOC = "K14" | IOSTANDARD = LVCMOS33; 
NET "statusout" LOC = "K13" | IOSTANDARD = LVCMOS33; 
NET "turnIN" LOC = "J14" | IOSTANDARD = LVCMOS33; 
NET "RST" LOC = "J13" | IOSTANDARD = LVCMOS33; 
#NET "seg2(2)" LOC = "H14" | IOSTANDARD = LVCMOS33; 
#NET "seg2(3)" LOC = "H13" | IOSTANDARD = LVCMOS33;
#NET "seg2(4)" LOC = "F14" | IOSTANDARD = LVCMOS33; 
#NET "seg2(5)" LOC = "F13" | IOSTANDARD = LVCMOS33; 

#C
#NET "seg2(6)" LOC = "G14" | IOSTANDARD = LVCMOS33;
#NET "PORTC<1>" LOC = "G13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<2>" LOC = "E14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<3>" LOC = "E13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<4>" LOC = "D14" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<5>" LOC = "D13" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTC<6>" LOC = "C13" | IOSTANDARD = LVCMOS33 | PULLUP;

#D
#NET "PORTD<0>" LOC = "A3" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "statusout" LOC = "B3" | IOSTANDARD = LVCMOS33;
#NET "X(0)" LOC = "A2" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "X(1)" LOC = "B1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "Y(0)" LOC = "C1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "Y(1)" LOC = "D1" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<6>" LOC = "D2" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "PORTD<7>" LOC = "E1" | IOSTANDARD = LVCMOS33 | PULLUP;

#E
#NET "" LOC = "E2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(6)" LOC = "F1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(5)" LOC = "F2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(4)" LOC = "H1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(3)" LOC = "H2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(2)" LOC = "G1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(1)" LOC = "G2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg1(0)" LOC = "J1" | IOSTANDARD = LVCMOS33 | PULLUP;

#F
NET "seg2(6)" LOC = "J2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(5)" LOC = "K1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(4)" LOC = "K2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(3)" LOC = "L1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(2)" LOC = "L2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(1)" LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "seg2(0)" LOC = "M2" | IOSTANDARD = LVCMOS33 | PULLUP;